<ion-header>
  <ion-toolbar>
    <app-navigation></app-navigation>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>{{
      idTree ? "Actualización del árbol ID: " + idTree : "Registro de árbol"
    }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form [formGroup]="treeForm" (ngSubmit)="onSubmit()">
      <ion-card-header class="sub-title blue">
        <ion-card-title class="text-color"> Ubicación </ion-card-title>
      </ion-card-header>
      <!-- address -->
      <ion-item lines="none">
        <ion-input
          label="Dirección"
          labelPlacement="floating"
          errorText="Invalid"
          formControlName="address"
        ></ion-input>
      </ion-item>
      <!-- cityBlock -->
      <ion-item>
        <ion-input
          type="number"
          label="Manzana(opcional)"
          labelPlacement="floating"
          formControlName="cityBlock"
        ></ion-input>
      </ion-item>

      <ion-row>
        <ion-col size="auto">
          <ion-button (click)="takePhoto()">Tomar foto</ion-button>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input
              [readonly]="true"
              label="archivo"
              labelPlacement="floating"
              formControlName="photoFileName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label>Obtener posición actual</ion-label>
        <ion-checkbox
          class="check"
          (ionChange)="onTogglePosition($event)"
        ></ion-checkbox>
        <ion-input
          [readonly]="true"
          type="number"
          label="Latitud"
          labelPlacement="floating"
          formControlName="latitude"
        ></ion-input>
        <ion-input
          [readonly]="true"
          type="number"
          label="Longitud"
          labelPlacement="floating"
          formControlName="longitude"
        ></ion-input>
      </ion-item>
      <!-- treesInTheBlock -->
      @if (projectType) {
        <ion-item>
          <ion-input
            type="number"
            label="Cantidad de árboles en la manzana"
            labelPlacement="floating"
            errorText="Invalid"
            formControlName="treesInTheBlock"
          ></ion-input>
        </ion-item>
      }
      <ion-card-header class="sub-title green">
        <ion-card-title class="text-color">
          Características del árbol
        </ion-card-title>
      </ion-card-header>
      <!-- isMissing -->
      @if (!treeForm.get('isDead')?.value) {
        <ion-item>
          <ion-label>¿Es árbol faltante?</ion-label>
          <ion-checkbox formControlName="isMissing"></ion-checkbox>
        </ion-item>
      }
      <!-- isDead -->
      @if (!treeForm.get('isMissing')?.value) {
        <ion-item>
          <ion-label>¿Está muerto?</ion-label>
          <ion-checkbox formControlName="isDead"></ion-checkbox>
        </ion-item>
      }
      <!-- treeTypeName -->
      @if (
        !treeForm.get('isMissing')?.value && !treeForm.get('isDead')?.value
        ) {
        <div
          >
          <ion-item>
            <ion-label position="floating">Tipo de árbol</ion-label>
            <ion-select formControlName="treeTypeName">
              @for (option of treeTypeOptions; track option) {
                <ion-select-option
                  [value]="option"
                  >{{ option }}</ion-select-option
                  >
                }
              </ion-select>
            </ion-item>
            <!-- perimeter -->
            <ion-item lines="none">
              <ion-input
                type="number"
                label="Perímetro"
                labelPlacement="floating"
                errorText="Invalid"
                formControlName="perimeter"
              ></ion-input>
            </ion-item>
            <!-- incline -->
            <!-- <div>
            <p>{{tiltValues.x}}</p>
            <p>{{tiltValues.y}}</p>
            <p>{{tiltValues.z}}</p>
          </div> -->
          <ion-item lines="none">
            <tilt-measure (tiltChange)="onTiltChange($event)"></tilt-measure>
            <ion-input
              type="number"
              label="Inclinación(ángulo en grados)"
              labelPlacement="floating"
              errorText="Invalid"
              formControlName="incline"
            ></ion-input>
          </ion-item>
          <!-- height -->
          <ion-item lines="none">
            <ion-input
              type="number"
              label="Altura"
              labelPlacement="floating"
              errorText="Invalid"
              formControlName="height"
            ></ion-input>
          </ion-item>
          <!-- treeValue -->
          <ion-item>
            <ion-label position="floating">Valor del árbol</ion-label>
            <ion-select formControlName="treeValue">
              @for (option of treeValueOptions; track option) {
                <ion-select-option
                  [value]="option"
                  >
                  {{ option }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
          <!-- Pests Section -->
          <div formArrayName="pestsNames" class="manyToMany">
            @for (pest of pestsNames.controls; track pest; let i = $index) {
              <div>
                <ion-item>
                  <ion-input
                    [formControlName]="i"
                    label="Plaga {{ i + 1 }}"
                    labelPlacement="floating"
                    placeholder="Ingrese plaga"
                  ></ion-input>
                  <ion-button color="secondary" (click)="removeItem(i, 'pests')">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
            }
            <ion-button
              class="manyToManyButton"
              (click)="addItem('pests')"
              expand="block"
              color="secondary"
              >Agregar plaga</ion-button
              >
            </div>
            <!-- Diseases Section -->
            <div formArrayName="diseasesNames" class="manyToMany">
              @for (disease of diseasesNames.controls; track disease; let i = $index) {
                <div>
                  <ion-item>
                    <ion-input
                      [formControlName]="i"
                      label="Enfermedad {{ i + 1 }}"
                      labelPlacement="floating"
                      placeholder="Ingrese enfermedad"
                    ></ion-input>
                    <ion-button (click)="removeItem(i, 'diseases')" color="secondary">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-item>
                </div>
              }
              <ion-button
                class="manyToManyButton"
                (click)="addItem('diseases')"
                expand="block"
                color="secondary"
                >Agregar enfermedad</ion-button
                >
              </div>
              <ion-card-header class="sub-title yellow">
                <ion-card-title class="text-color">
                  Factores de carga
                </ion-card-title>
              </ion-card-header>
              <!-- Wind Exposure -->
              <ion-item>
                <ion-label position="floating">Exposición al viento</ion-label>
                <ion-select formControlName="windExposure">
                  @for (option of windExposureOptions; track option) {
                    <ion-select-option
                      [value]="option"
                      >
                      {{ option }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-item>
              <!-- Vigor -->
              <ion-item>
                <ion-label position="floating">Vigor</ion-label>
                <ion-select formControlName="vigor">
                  @for (option of vigorOptions; track option) {
                    <ion-select-option
                      [value]="option"
                      >
                      {{ option }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-item>
              <!-- Canopy Density -->
              <ion-item>
                <ion-label position="floating">Densidad de copa</ion-label>
                <ion-select formControlName="canopyDensity">
                  @for (option of canopyDensityOptions; track option) {
                    <ion-select-option
                      [value]="option"
                      >
                      {{ option }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-item>
              <ion-card-header class="sub-title violet">
                <ion-card-title class="text-color">
                  Condiciones del sitio
                </ion-card-title>
              </ion-card-header>
              <!-- Growth Space -->
              <ion-item>
                <ion-label position="floating">Espacio de crecimiento</ion-label>
                <ion-select formControlName="growthSpace">
                  @for (option of growthSpaceOptions; track option) {
                    <ion-select-option
                      [value]="option"
                      >
                      {{ option }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-item>
              <!-- exposedRoots -->
              <ion-item>
                <ion-label
                  >¿Plato radicular levantado, rajado o raíces expuestas?</ion-label
                  >
                  <ion-checkbox formControlName="exposedRoots"></ion-checkbox>
                </ion-item>
                <!-- Conflict Section -->
                <ion-item>
                  <ion-label position="stacked">Conflictos</ion-label>
                  <ion-select
                    formControlName="conflictsNames"
                    multiple="true"
                    okText="OK"
                    cancelText="Cancelar"
                    placeholder="seleccionar conflictos"
                    >
                    @for (option of conflictOptions; track option) {
                      <ion-select-option
                        [value]="option"
                        >
                        {{ option }}
                      </ion-select-option>
                    }
                  </ion-select>
                </ion-item>
                <!-- List of selected conflicts -->
                <ion-card-header>
                  <ion-card-title> Conflictos seleccionados </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  @if (
                    treeForm.get('conflictsNames')?.value?.length) {
                    <ion-list
                      >
                      @for (conflict of treeForm.get('conflictsNames')?.value; track conflict) {
                        <ion-item
                          >
                          <ion-label>{{ conflict }}</ion-label>
                        </ion-item>
                      }
                    </ion-list>
                  } @else {
                    <ion-item>No hay conflictos seleccionados.</ion-item>
                  }
                </ion-card-content>
                <ion-card-header class="sub-title red">
                  <ion-card-title class="text-color">
                    Blanco debajo del árbol
                  </ion-card-title>
                </ion-card-header>
                <!-- nothingUnderTree -->
                <ion-item>
                  <ion-label>No hay nada bajo el árbol</ion-label>
                  <ion-checkbox formControlName="nothingUnderTree"></ion-checkbox>
                </ion-item>
                @if (!treeForm.get('nothingUnderTree')?.value) {
                  <div>
                    <!-- useUnderTheTree -->
                    <ion-item lines="none">
                      <ion-input
                        label="¿Qué hay bajo el árbol?(blanco)"
                        labelPlacement="floating"
                        errorText="Invalid"
                        formControlName="useUnderTheTree"
                      ></ion-input>
                    </ion-item>
                    <!-- frequencyUse -->
                    <ion-item>
                      <ion-label position="floating"
                        >¿Con qué Frecuencia se encuentra?</ion-label
                        >
                        <ion-select formControlName="frequencyUse">
                          @for (option of frequencyUseOptions; track option; let i = $index) {
                            <ion-select-option
                              [value]="i + 1"
                              >
                              {{ option }}
                            </ion-select-option>
                          }
                        </ion-select>
                      </ion-item>
                      <!-- isMovable -->
                      <ion-item>
                        <ion-label>¿Se puede Mover el blanco bajo del árbol?</ion-label>
                        <ion-checkbox formControlName="isMovable"></ion-checkbox>
                      </ion-item>
                      <!-- isRestrictable -->
                      <ion-item>
                        <ion-label class="ion-text-center"
                          >¿Se puede Restringir el blanco bajo del árbol?</ion-label
                          >
                          <ion-checkbox formControlName="isRestrictable"></ion-checkbox>
                        </ion-item>
                      </div>
                    }
                    <!-- Defects Section -->
                    <!-- Cuerpos fructíferos de hongos en cuello o raíces -->
                    <ion-card-header class="sub-title orange">
                      <ion-card-title class="text-color">
                        Defectos en las raíces
                      </ion-card-title>
                    </ion-card-header>
                    <ion-item>
                      <ion-label position="stacked"
                        >Cuerpos fructíferos de hongos en cuello o raíces</ion-label
                        >
                        <ion-select formControlName="fruitingBodiesOfFungiOnNeckOrRoots">
                          @for (keyValue of fruitingBodiesOfFungiOnNeckOrRootsEntries; track keyValue) {
                            <ion-select-option
                              [value]="keyValue[0]"
                              >
                              {{ keyValue[1] }}
                            </ion-select-option>
                          }
                          <ion-select-option [value]="null"
                            >sin cuerpos fructíferos</ion-select-option
                            >
                          </ion-select>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Daño mecánico a raíces</ion-label>
                          <ion-select formControlName="mechanicalDamageToRoots">
                            @for (keyValue of mechanicalDamageToRootsEntries; track keyValue) {
                              <ion-select-option
                                [value]="keyValue[0]"
                                >
                                {{ keyValue[1] }}
                              </ion-select-option>
                            }
                            <ion-select-option [value]="null">sin daños</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Raíces estrangulantes</ion-label>
                          <ion-select formControlName="stranglingRoots">
                            @for (keyValue of stranglingRootsEntries; track keyValue) {
                              <ion-select-option
                                [value]="keyValue[0]"
                                >
                                {{ keyValue[1] }}
                              </ion-select-option>
                            }
                            <ion-select-option [value]="null"
                              >sin raíces extrangulantes</ion-select-option
                              >
                            </ion-select>
                          </ion-item>
                          <ion-item>
                            <ion-label position="stacked">Raíces muertas</ion-label>
                            <ion-select formControlName="deadRoots">
                              @for (keyValue of deadRootsEntries; track keyValue) {
                                <ion-select-option
                                  [value]="keyValue[0]"
                                  >
                                  {{ keyValue[1] }}
                                </ion-select-option>
                              }
                              <ion-select-option [value]="null"
                                >sin raíces muertas</ion-select-option
                                >
                              </ion-select>
                            </ion-item>
                            <ion-item>
                              <ion-label position="stacked"
                                >Síntomas de enfermedad radicular en copa</ion-label
                                >
                                <ion-select formControlName="symptomsDiseaseOfRootsInCrown">
                                  @for (keyValue of symptomsDiseaseOfRootsInCrownEntries; track keyValue) {
                                    <ion-select-option
                                      [value]="keyValue[0]"
                                      >
                                      {{ keyValue[1] }}
                                    </ion-select-option>
                                  }
                                  <ion-select-option [value]="null">sin síntomas</ion-select-option>
                                </ion-select>
                              </ion-item>
                              <ion-card-header class="sub-title orange">
                                <ion-card-title class="text-color">
                                  Defectos en tronco y cuello
                                </ion-card-title>
                              </ion-card-header>
                              <ion-item>
                                <ion-label position="stacked"
                                  >Agallas, termiteros, hormigueros</ion-label
                                  >
                                  <ion-select formControlName="gallsTermiteMoundsAnthills">
                                    @for (keyValue of gallsTermiteMoundsAnthillsEntries; track keyValue) {
                                      <ion-select-option
                                        [value]="keyValue[0]"
                                        >
                                        {{ keyValue[1] }}
                                      </ion-select-option>
                                    }
                                    <ion-select-option [value]="null">no se observa</ion-select-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                  <ion-label position="stacked">Cancros de tronco o cuello</ion-label>
                                  <ion-select formControlName="cankersTrunk">
                                    @for (keyValue of cankersTrunkEntries; track keyValue) {
                                      <ion-select-option
                                        [value]="keyValue[0]"
                                        >
                                        {{ keyValue[1] }}
                                      </ion-select-option>
                                    }
                                    <ion-select-option [value]="null">sin cancro</ion-select-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                  <ion-label>¿Tiene cavidades en el tronco?</ion-label>
                                  <ion-checkbox
                                    class="check"
                                    formControlName="isCavitiesTrunk"
                                  ></ion-checkbox>
                                  @if (treeForm.get('isCavitiesTrunk')?.value) {
                                    <div>
                                      <ion-input
                                        label="Mida el valor de t"
                                        type="number"
                                        labelPlacement="floating"
                                        errorText="Invalid"
                                        formControlName="cavitiesTrunk_t"
                                      ></ion-input>
                                      @if (!this.treeForm.get('cavitiesTrunk_t')?.value) {
                                        <ion-note
                                          color="warning"
                                          >
                                          Advertencia: Si no ingresa el valor de t, este defecto no se
                                          tendrá en cuenta.
                                        </ion-note>
                                      }
                                    </div>
                                  }
                                </ion-item>
                                <ion-item>
                                  <ion-label position="stacked">Cancros de tronco o cuello</ion-label>
                                  <ion-select formControlName="cankersTrunk">
                                    @for (keyValue of cankersTrunkEntries; track keyValue) {
                                      <ion-select-option
                                        [value]="keyValue[0]"
                                        >
                                        {{ keyValue[1] }}
                                      </ion-select-option>
                                    }
                                    <ion-select-option [value]="null">sin cancro</ion-select-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                  <ion-label>¿Hay corteza pérdida o muerta en el tronco?</ion-label>
                                  <ion-checkbox
                                    class="check"
                                    formControlName="isLostOrDeadBark"
                                  ></ion-checkbox>
                                  @if (treeForm.get('isLostOrDeadBark')?.value) {
                                    <div>
                                      <ion-input
                                        label="Mida el perímetro afectado"
                                        type="number"
                                        labelPlacement="floating"
                                        errorText="Invalid"
                                        formControlName="lostOrDeadBark_width"
                                      ></ion-input>
                                      @if (!this.treeForm.get('lostOrDeadBark_width')?.value) {
                                        <ion-note
                                          color="warning"
                                          >
                                          Advertencia: Si no ingresa el perímetro afectado, este defecto no
                                          se tendrá en cuenta.
                                        </ion-note>
                                      }
                                    </div>
                                  }
                                </ion-item>
                                <ion-item>
                                  <ion-label position="stacked">Fustes múltiples</ion-label>
                                  <ion-select formControlName="multipleTrunks">
                                    @for (keyValue of multipleTrunksEntries; track keyValue) {
                                      <ion-select-option
                                        [value]="keyValue[0]"
                                        >
                                        {{ keyValue[1] }}
                                      </ion-select-option>
                                    }
                                    <ion-select-option [value]="null">no</ion-select-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                  <ion-label
                                    >¿Hay heridas en el tronco(no leves o superficiales)?</ion-label
                                    >
                                    <ion-checkbox class="check" formControlName="isWounds"></ion-checkbox>
                                    @if (treeForm.get('isWounds')?.value) {
                                      <div>
                                        <ion-input
                                          label="Mida el perímetro afectado"
                                          type="number"
                                          labelPlacement="floating"
                                          errorText="Invalid"
                                          formControlName="wounds_width"
                                        ></ion-input>
                                        @if (!this.treeForm.get('wounds_width')?.value) {
                                          <ion-note
                                            color="warning"
                                            >
                                            Advertencia: Si no ingresa el perímetro afectado, este defecto no
                                            se tendrá en cuenta.
                                          </ion-note>
                                        }
                                      </div>
                                    }
                                  </ion-item>
                                  <ion-item>
                                    <ion-label position="stacked">Horqueta de tronco</ion-label>
                                    <ion-select formControlName="forkTrunk">
                                      @for (keyValue of forkTrunkEntries; track keyValue) {
                                        <ion-select-option
                                          [value]="keyValue[0]"
                                          >
                                          {{ keyValue[1] }}
                                        </ion-select-option>
                                      }
                                      <ion-select-option [value]="null">sin horqueta</ion-select-option>
                                    </ion-select>
                                  </ion-item>
                                  <ion-item>
                                    <ion-label>¿Hay pudrición de madera?</ion-label>
                                    <ion-checkbox
                                      class="check"
                                      formControlName="isWoodRoot"
                                    ></ion-checkbox>
                                    @if (this.treeForm.get('isWoodRoot')?.value) {
                                      <div>
                                        <ion-label>¿Es con presencia de cuerpos fructiferos?</ion-label>
                                        <ion-checkbox
                                          class="check"
                                          formControlName="isWoodRoot_fruitingBodies"
                                        ></ion-checkbox>
                                        @if (!treeForm.get('isWoodRoot_fruitingBodies')?.value) {
                                          <div>
                                            <ion-input
                                              label="Mida el valor de t"
                                              type="number"
                                              labelPlacement="floating"
                                              errorText="Invalid"
                                              formControlName="woodRoot_t"
                                            ></ion-input>
                                            @if (!this.treeForm.get('woodRoot_t')?.value) {
                                              <ion-note
                                                color="warning"
                                                >
                                                Advertencia: Ingrese el valor de t si no hay presencia de CF. Si
                                                no lo ingresa, este defecto no se tendrá en cuenta.
                                              </ion-note>
                                            }
                                          </div>
                                        }
                                      </div>
                                    }
                                  </ion-item>
                                  <ion-item>
                                    <ion-label position="stacked">Rajaduras de tronco</ion-label>
                                    <ion-select formControlName="fissuresTrunk">
                                      @for (keyValue of fissuresTrunkEntries; track keyValue) {
                                        <ion-select-option
                                          [value]="keyValue[0]"
                                          >
                                          {{ keyValue[1] }}
                                        </ion-select-option>
                                      }
                                      <ion-select-option [value]="null">sin rajaduras</ion-select-option>
                                    </ion-select>
                                  </ion-item>
                                  <ion-card-header class="sub-title orange">
                                    <ion-card-title class="text-color">
                                      Defectos en ramas estructurales y ramas menores
                                    </ion-card-title>
                                  </ion-card-header>
                                  <ion-item>
                                    <ion-label position="stacked">Cancros de ramas</ion-label>
                                    <ion-select formControlName="cankersBranch">
                                      @for (keyValue of cankersBranchEntries; track keyValue) {
                                        <ion-select-option
                                          [value]="keyValue[0]"
                                          >
                                          {{ keyValue[1] }}
                                        </ion-select-option>
                                      }
                                      <ion-select-option [value]="null">sin cancro</ion-select-option>
                                    </ion-select>
                                  </ion-item>
                                  <ion-item>
                                    <ion-label position="stacked">Cavidades</ion-label>
                                    <ion-select formControlName="cavitiesBranches">
                                      @for (keyValue of cavitiesBranchesEntries; track keyValue) {
                                        <ion-select-option
                                          [value]="keyValue[0]"
                                          >
                                          {{ keyValue[1] }}
                                        </ion-select-option>
                                      }
                                      <ion-select-option [value]="null">sin cavidades</ion-select-option>
                                    </ion-select>
                                  </ion-item>
                                  <ion-item>
                                    <ion-label position="stacked"
                                      >Cuerpos fructíferos de hongos</ion-label
                                      >
                                      <ion-select formControlName="fruitingBodiesOfFungi">
                                        @for (keyValue of fruitingBodiesOfFungiEntries; track keyValue) {
                                          <ion-select-option
                                            [value]="keyValue[0]"
                                            >
                                            {{ keyValue[1] }}
                                          </ion-select-option>
                                        }
                                        <ion-select-option [value]="null"
                                          >sin cuerpos fructíferos</ion-select-option
                                          >
                                        </ion-select>
                                      </ion-item>
                                      <ion-item>
                                        <ion-label position="stacked">Horqueta de ramas</ion-label>
                                        <ion-select formControlName="forkBranch">
                                          @for (keyValue of forkBranchEntries; track keyValue) {
                                            <ion-select-option
                                              [value]="keyValue[0]"
                                              >
                                              {{ keyValue[1] }}
                                            </ion-select-option>
                                          }
                                          <ion-select-option [value]="null">sin horqueta</ion-select-option>
                                        </ion-select>
                                      </ion-item>
                                      <ion-item>
                                        <ion-label position="stacked">Ramas colgantes o quebradas</ion-label>
                                        <ion-select
                                          formControlName="hangingOrBrokenBranches"
                                          (ionChange)="showBranchesInput($event, 'hangingOrBrokenBranches')"
                                          >
                                          @for (keyValue of hangingOrBrokenBranchesEntries; track keyValue) {
                                            <ion-select-option
                                              [value]="keyValue[0]"
                                              >
                                              {{ keyValue[1] }}
                                            </ion-select-option>
                                          }
                                          <ion-select-option [value]="null"
                                            >sin ramas quebradas/colgantes</ion-select-option
                                            >
                                          </ion-select>
                                          @if (hangingOrBrokenBranches_branches) {
                                            <div>
                                              <ion-input
                                                label="Número de ramas colgantes o quebradas"
                                                type="number"
                                                labelPlacement="floating"
                                                errorText="Invalid"
                                                formControlName="hangingOrBrokenBranches_branches"
                                              ></ion-input>
                                            </div>
                                          }
                                        </ion-item>
                                        <ion-item>
                                          <ion-label position="stacked">Ramas muertas</ion-label>
                                          <ion-select
                                            formControlName="deadBranches"
                                            (ionChange)="showBranchesInput($event, 'deadBranches')"
                                            >
                                            @for (keyValue of deadBranchesEntries; track keyValue) {
                                              <ion-select-option
                                                [value]="keyValue[0]"
                                                >
                                                {{ keyValue[1] }}
                                              </ion-select-option>
                                            }
                                            <ion-select-option [value]="null"
                                              >sin ramas muertas</ion-select-option
                                              >
                                            </ion-select>
                                            @if (deadBranches_branches) {
                                              <div>
                                                <ion-input
                                                  label="Número de ramas muertas"
                                                  type="number"
                                                  labelPlacement="floating"
                                                  errorText="Invalid"
                                                  formControlName="deadBranches_branches"
                                                ></ion-input>
                                              </div>
                                            }
                                          </ion-item>
                                          <ion-item>
                                            <ion-label position="stacked">Ramas sobre extendidas</ion-label>
                                            <ion-select
                                              formControlName="overExtendedBranches"
                                              (ionChange)="showBranchesInput($event, 'overExtendedBranches')"
                                              >
                                              @for (keyValue of overExtendedBranchesEntries; track keyValue) {
                                                <ion-select-option
                                                  [value]="keyValue[0]"
                                                  >
                                                  {{ keyValue[1] }}
                                                </ion-select-option>
                                              }
                                              <ion-select-option [value]="null"
                                                >sin ramas sobreextendidas</ion-select-option
                                                >
                                              </ion-select>
                                            </ion-item>
                                            <ion-item>
                                              <ion-label position="stacked">Rajaduras de ramas</ion-label>
                                              <ion-select formControlName="fissuresBranches">
                                                @for (keyValue of fissuresBranchesEntries; track keyValue) {
                                                  <ion-select-option
                                                    [value]="keyValue[0]"
                                                    >
                                                    {{ keyValue[1] }}
                                                  </ion-select-option>
                                                }
                                                <ion-select-option [value]="null">sin rajaduras</ion-select-option>
                                              </ion-select>
                                            </ion-item>
                                            <ion-item>
                                              <ion-label position="stacked">Pudrición de madera</ion-label>
                                              <ion-select formControlName="woodRot">
                                                @for (keyValue of woodRotEntries; track keyValue) {
                                                  <ion-select-option
                                                    [value]="keyValue[0]"
                                                    >
                                                    {{ keyValue[1] }}
                                                  </ion-select-option>
                                                }
                                                <ion-select-option [value]="null"
                                                  >ramas estructurales sin pudrición</ion-select-option
                                                  >
                                                </ion-select>
                                              </ion-item>
                                              <ion-item>
                                                <ion-label position="stacked"
                                                  >Interferencia con red eléctrica</ion-label
                                                  >
                                                  <ion-select formControlName="interferenceWithTheElectricalGrid">
                                                    @for (keyValue of interferenceWithTheElectricalGridEntries; track keyValue) {
                                                      <ion-select-option
                                                        [value]="keyValue[0]"
                                                        >
                                                        {{ keyValue[1] }}
                                                      </ion-select-option>
                                                    }
                                                    <ion-select-option [value]="null"
                                                      >sin interferencia con red eléctrica</ion-select-option
                                                      >
                                                    </ion-select>
                                                  </ion-item>
                                                  <!-- Summary of selected defects -->
                                                  <ion-card-header class="sub-title brown">
                                                    <ion-card-title class="text-color"
                                                      >Defectos seleccionados</ion-card-title
                                                      >
                                                    </ion-card-header>
                                                    <ion-card-content>
                                                      @if (selectedDefectsSummary.length > 0) {
                                                        <ion-list>
                                                          @for (defect of selectedDefectsSummary; track defect) {
                                                            <ion-item
                                                              class="item-border"
                                                              >
                                                              <span class="defect-label">{{ defect.label }}</span>
                                                              <span class="defect-value">{{ defect.value }}</span>
                                                            </ion-item>
                                                          }
                                                        </ion-list>
                                                      } @else {
                                                        <ion-item>No hay defectos de riesgo seleccionados.</ion-item>
                                                      }
                                                    </ion-card-content>
                                                  </div>
                                                }
                                                <!-- Intervention Section -->
                                                <ion-card-header class="sub-title gray">
                                                  <ion-card-title class="text-color">
                                                    Mitigación del riesgo/acciones correctivas
                                                  </ion-card-title>
                                                </ion-card-header>
                                                <!-- potentialDamage -->
                                                @if (
                                                  !treeForm.get('isMissing')?.value && !treeForm.get('isDead')?.value
                                                  ) {
                                                  <ion-item
                                                    >
                                                    <ion-label position="floating"
                                                      >Potencial de daño del árbol o rama si se cae</ion-label
                                                      >
                                                      <ion-select formControlName="potentialDamage">
                                                        @for (option of potentialDamageOptions; track option; let i = $index) {
                                                          <ion-select-option
                                                            [value]="i + 1"
                                                            >
                                                            {{ option }}
                                                          </ion-select-option>
                                                        }
                                                      </ion-select>
                                                    </ion-item>
                                                  }
                                                  <!-- Intervention Section -->
                                                  @if (
                                                    !treeForm.get('isMissing')?.value && !treeForm.get('isDead')?.value
                                                    ) {
                                                    <ion-item
                                                      >
                                                      <ion-label position="stacked">Intervenciones</ion-label>
                                                      <ion-select
                                                        formControlName="interventionsNames"
                                                        multiple="true"
                                                        okText="OK"
                                                        cancelText="Cancelar"
                                                        placeholder="seleccionar intervención"
                                                        >
                                                        @for (option of interventionOptions; track option) {
                                                          <ion-select-option
                                                            [value]="option"
                                                            >
                                                            {{ option }}
                                                          </ion-select-option>
                                                        }
                                                      </ion-select>
                                                    </ion-item>
                                                  }

                                                  <!-- List of selected interventions -->
                                                  <ion-card-header>
                                                    <ion-card-title> Intervenciones seleccionadas </ion-card-title>
                                                  </ion-card-header>
                                                  <ion-card-content>
                                                    @if (
                                                      treeForm.get('interventionsNames')?.value?.length) {
                                                      <ion-list
                                                        >
                                                        @for (
                                                          intervention of treeForm.get('interventionsNames')?.value
                                                          ; track
                                                          intervention) {
                                                          <ion-item
                                                            >
                                                            <ion-label>{{ intervention }}</ion-label>
                                                          </ion-item>
                                                        }
                                                      </ion-list>
                                                    } @else {
                                                      <ion-item>No hay intervenciones seleccionadas.</ion-item>
                                                    }
                                                  </ion-card-content>
                                                  @if (
                                                    treeForm.get('isMissing')?.value || treeForm.get('isDead')?.value
                                                    ) {
                                                    <ion-item
                                                      >
                                                      {{
                                                      treeForm.get("isMissing")?.value
                                                      ? "plantacion de arbol faltante"
                                                      : "extraccion del arbol"
                                                      }}
                                                    </ion-item>
                                                  }
                                                  @if (treeForm.invalid && treeForm.touched) {
                                                    <ion-text color="danger">
                                                      <p>Complete todos los campos obligatorios por favor</p>
                                                    </ion-text>
                                                  }
                                                  <ion-card>
                                                    <ion-button expand="full" type="submit">{{
                                                      idTree ? "Actualizar árbol ID: " + idTree : "Registrar árbol"
                                                    }}</ion-button>
                                                  </ion-card>
                                                </form>
                                              </ion-card>
                                            </ion-content>
