ion-checkbox {
  padding-left: 10%;
}

.check {
  margin: 15px;
}
.manyToMany {
  border-style: solid;
  border-radius: 5px;
  border-color: #ddd;
}

.manyToManyButton {
  margin: 2% 18%;
}

.manyToMany ion-select {
  min-width: 0;
}

.defect-label {
  font-weight: bold;
  padding-right: 8px;
  min-width: 80px;
  display: inline-block;
}
.defect-value {
  padding-left: 7px;
  color: #333;
}