<ion-header>
  <ion-toolbar>
    <app-navigation></app-navigation>
  </ion-toolbar>
</ion-header>
@if (tree) {
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ID: {{ tree.idTree }}</ion-card-title>
      <ion-card-subtitle>{{ tree.address }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- Image Section -->
      @if (tree.pathPhoto) {
      <ion-item lines="none">
        <img
          [src]="tree.pathPhoto"
          alt="Sin foto o ingrese mas tarde para visualizarla si el árbol es recien creado o actualizado"
        />
      </ion-item>
      }
      <!-- Riesgo -->
      <ion-item>
        <ion-label
          ><strong>Nivel de riesgo:</strong> {{ tree.risk || "N/A" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>Fecha de relevo:</strong>
          {{ tree.datetime | date : "dd/MM/yyyy" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>Tiempo de relevo:</strong>
          {{ tree.treeInfoCollectionTime || "N/A" }}</ion-label
        >
      </ion-item>
      <!-- Ubicacion -->
      <ion-card-header class="sub-title blue">
        <ion-card-title class="text-color-white"> Ubicación </ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label
          ><strong>Barrio:</strong>
          {{ tree.neighborhoodName || "N/A" }}</ion-label
        >
      </ion-item>
      @if (tree.cityBlock) {
      <ion-item>
        <ion-label><strong>Manzana:</strong> {{ tree.cityBlock }}</ion-label>
      </ion-item>
      }
      <ion-item>
        <ion-label
          ><strong>Latitud:</strong> {{ tree.latitude || "N/A" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>Longitud:</strong> {{ tree.longitude || "N/A" }}</ion-label
        >
      </ion-item>
      @if (tree.treesInTheBlock) {
      <ion-item>
        <ion-label
          ><strong>Árboles en la cuadra:</strong>
          {{ tree.treesInTheBlock }}</ion-label
        >
      </ion-item>
      }
      <!-- Caracteristicas del arbol -->
      <ion-card-header class="sub-title green">
        <ion-card-title class="text-color-white">
          Características del árbol
        </ion-card-title>
      </ion-card-header>
      @if (tree.isMissing) {
      <ion-item>
        <ion-label
          ><strong>¿Es árbol faltante?</strong>
          {{ tree.isMissing ? "Si" : "No" }}</ion-label
        >
      </ion-item>
      } @if (tree.isDead) {
      <ion-item>
        <ion-label
          ><strong>¿Está muerto?</strong>
          {{ tree.isDead ? "Si" : "No" }}</ion-label
        >
      </ion-item>
      } @if (!tree.isMissing && !tree.isDead) {
      <div>
        <ion-item>
          <ion-label
            ><strong>Tipo de arbol:</strong>
            {{ tree.treeTypeName || "N/A" }}</ion-label
          >
        </ion-item>
        @if (tree.gender) {
        <ion-item>
          <ion-label><strong>Género:</strong> {{ tree.gender }}</ion-label>
        </ion-item>
        } @if (tree.species) {
        <ion-item>
          <ion-label><strong>Especie:</strong> {{ tree.species }}</ion-label>
        </ion-item>
        } @if (tree.scientificName) {
        <ion-item>
          <ion-label
            ><strong>Nombre científico:</strong>
            {{ tree.scientificName }}</ion-label
          >
        </ion-item>
        }
        <ion-item>
          <ion-label
            ><strong>Perímetro:</strong>
            {{ tree.perimeter || "N/A" }} m</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>Altura:</strong> {{ tree.height || "N/A" }} m</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>Inclinación:</strong>
            {{ tree.incline || "N/A" }} °</ion-label
          >
        </ion-item>
        @if (tree.diseasesNames.length > 0) {
        <ion-item>
          <ion-label>
            <strong>Enfermedades:</strong>
            <ul class="custom-list">
              @for (disease of tree.diseasesNames; track disease) {
              <li>{{ disease }}</li>
              }
            </ul>
          </ion-label>
        </ion-item>
        } @if (tree.pestsNames.length > 0) {
        <ion-item>
          <ion-label>
            <strong>Plagas:</strong>
            <ul class="custom-list">
              @for (pest of tree.pestsNames; track pest) {
              <li>{{ pest }}</li>
              }
            </ul>
          </ion-label>
        </ion-item>
        }
        <ion-item>
          <ion-label
            ><strong>Valor del árbol:</strong>
            {{ tree.treeValue || "N/A" }}</ion-label
          >
        </ion-item>
        <!-- factores de carga -->
        <ion-card-header class="sub-title yellow">
          <ion-card-title class="text-color-white">
            Factores de carga
          </ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label
            ><strong>Exposición al viento:</strong>
            {{ tree.windExposure || "N/A" }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>Vigor:</strong> {{ tree.vigor || "N/A" }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>Densidad de copa:</strong>
            {{ tree.canopyDensity || "N/A" }}</ion-label
          >
        </ion-item>
        <!-- condiciones de sitio -->
        <ion-card-header class="sub-title violet">
          <ion-card-title class="text-color-white">
            Condiciones del sitio
          </ion-card-title>
        </ion-card-header>
        @if (tree.conflictsNames.length > 0) {
        <ion-item>
          <ion-label>
            <strong>Conflictos:</strong>
            <ul class="custom-list">
              @for (conflict of tree.conflictsNames; track conflict) {
              <li>{{ conflict }}</li>
              }
            </ul>
          </ion-label>
        </ion-item>
        }
        <ion-item>
          <ion-label
            ><strong
              >¿Plato radicular levantado, rajado o raíces expuestas?</strong
            >
            {{ tree.exposedRoots ? "Si" : "No" }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>Espacio de crecimiento:</strong>
            {{ tree.growthSpace || "N/A" }}</ion-label
          >
        </ion-item>
        <!-- Blanco de bajo del árbol -->

        <ion-card-header class="sub-title red">
          <ion-card-title class="text-color-white">
            Blanco debajo del árbol
          </ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label
            ><strong>¿Qué hay bajo el arbol?(blanco)</strong>
            {{ tree.useUnderTheTree || "N/A" }}</ion-label
          >
        </ion-item>
        @if(tree.useUnderTheTree) {
        <ion-item>
          <ion-label
            ><strong>¿Con qué frecuencia se encuentra?</strong>
            {{ tree.frequencyUse || "N/A" }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>¿Se puede mover el blanco bajo del árbol?</strong>
            {{ tree.isMovable ? "Si" : "No" }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-label
            ><strong>¿Se puede restringir el blanco bajo del árbol?</strong>
            {{ tree.isRestrictable ? "Si" : "No" }}</ion-label
          >
        </ion-item>
        }
        <!-- Defectos en raices  -->
        <ion-card-header class="sub-title orange">
          <ion-card-title class="text-color-white">
            Defectos en raices
          </ion-card-title>
        </ion-card-header>
        @for (defect of defectDtoRoots; track defect) {
        <ion-item>
          <ion-list>
            <ion-label
              ><strong>Nombre: {{ defect.defectName }}</strong></ion-label
            >
            <p>Descripción: {{ defect.textDefectValue }}</p>
            <p>Severidad: {{ defect.defectValue }}</p>
          </ion-list>
        </ion-item>
        }
        <!-- Defectos en tronco o cuello -->
        <ion-card-header class="sub-title orange">
          <ion-card-title class="text-color-white">
            Defectos en tronco o cuello
          </ion-card-title>
        </ion-card-header>
        @for (defect of defectDtoTrunk; track defect) {
        <ion-item>
          <ion-list>
            <ion-label
              ><strong>Nombre: {{ defect.defectName }}</strong></ion-label
            >
            <p>Descripción: {{ defect.textDefectValue }}</p>
            <p>Severidad: {{ defect.defectValue }}</p>
            @if (defect.branches) {
            <p>
              {{
                defect.defectName === "pudricion de madera en tronco" ||
                defect.defectName === "cavidades en tronco"
                  ? "Valor de t medido: "
                  : "Perímetro afectado medido: "
              }}
              {{ defect.branches }}cm
            </p>
            }
          </ion-list>
        </ion-item>
        }
        <!-- Defectos en ramas estructurales y ramas menores -->
        <ion-card-header class="sub-title orange">
          <ion-card-title class="text-color-white">
            Defectos en ramas estructurales y ramas menores
          </ion-card-title>
        </ion-card-header>
        @for (defect of defectDtoBranches; track defect) {
        <ion-item>
          <ion-list>
            <ion-label
              ><strong>Nombre: {{ defect.defectName }}</strong></ion-label
            >
            <p>Descripción: {{ defect.textDefectValue }}</p>
            <p>Severidad: {{ defect.defectValue }}</p>
            @if (defect.branches) {
            <p>Ramas afectadas: {{ defect.branches }}</p>
            }
          </ion-list>
        </ion-item>
        }
      </div>
      }
      <!-- Intervenciones -->
      <ion-card-header class="sub-title gray">
        <ion-card-title class="text-color-white">
          Intervenciones
        </ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label
          ><strong>Potencial de daño del arbol o rama si se cae:</strong>
          {{ tree.potentialDamage || "N/A" }}</ion-label
        >
      </ion-item>
      @if (tree.interventionsNames.length > 0) {
      <ion-item>
        <ion-label>
          <strong>Intervenciones a aplicar:</strong>
          <ul class="custom-list">
            @for (intervention of tree.interventionsNames; track intervention) {
            <li>{{ intervention }}</li>
            }
          </ul>
        </ion-label>
      </ion-item>
      }
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Move buttons outside ion-content -->
<div class="bottom-buttons">
  <ion-row class="ion-justify-content-center">
    <ion-col size="9" size-md="6">
      <ion-button
        expand="block"
        color="primary"
        (click)="updateTree()"
        size="small"
      >
        Actualizar árbol
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-md="6">
      <ion-button
        expand="block"
        color="secondary"
        (click)="createTree()"
        size="small"
      >
        Registrar nuevo árbol 🌳➕
      </ion-button>
    </ion-col>
  </ion-row>
</div>
}
